<div class="page-header">
  <%= link_to orders_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @order.name %></dd>

  <dt>Address:</dt>
  <dd><%= @order.address %></dd>

  <dt>Email:</dt>
  <dd><%= @order.email %></dd>

  <dt>Pay type:</dt>
  <dd><%= @order.pay_type %></dd>

  

</dl>
<% current_user.orders.each do |order|%>
      <%order.line_items.each do |item| %>

      <%= item.product.title  %>
      <%= item.product.description %>
      <%= image_tag item.product.image_url %>
      <%=  number_to_currency (item.product.price) %>
      <%= item.quantity%>&times;
        
      
        
      <%end%>
<%end%>