<div class="mar-t">

      </div>
    
    <div class="row">
        <div class="col-md-3 col-md-offset-4 border">
            <div class="account-box">
                <div class="logo ">
                    <legend>Log In</legend>
                </div>
             <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div class="form-group">
      <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email Address" %>
                </div>
                <div class="form-group">
                     <%= f.password_field :password, :class => "form-control" , :placeholder => "password"%>
                </div>
                <label class="checkbox">
                     <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
                  
                </label>
                <%= f.submit "Sign in", :class => "btn  btn-primary btn-block"%>
                
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %><br>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>
           
                <div class="or-box row-block">
                    <div class="row">
                        <div class="col-md-12 row-block">
                            <%= render "devise/shared/links" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <% end %>
  
  
</div>

