
  <legend>Show product <div class="float-right"><%= button_to 'Add to cart', line_items_path(product_id: @product), :class=>" btn btn-purple " %></div><br><br><!-- line_items_path(product_id: product) (sent params [:product_id ] to line_items_path) -->
                     </div></legend>
</div><div class="container">
<ul>
  <legend class="text-danger"><%= @product.title %><div class="float-right"><%= number_to_currency @product.price %></div></legend><br>
  <div class="col-md-4"><%= image_tag @product.image_url, :class => 'img' %></div>

  
  <blockquote class="col-md-8"><%= @product.description %></blockquote>
  <%= link_to root_path, :class => 'btn btn-purple float-right' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  
  </ul>
   
  

</div>